[Desktop Entry]
Name=VTcl
Comment=A cross-platform application development environment
Comment[es]=Visual TCL - Ambiente de desarrollo de aplicaciones multi plataforma
Comment[pl]=Niezależne od platformy środowisko programistyczne
Comment[pt_BR]=Visual TCL - ambiente de desenvolvimento de aplicações multi-plataforma
Exec=vtcl
Icon=vtcl.png
Terminal=0
Type=Application
Categories=Development
# vi: encoding=utf-8
